// COLORS
$color-primary: #3b506b;
$color-primary-light: #5ac3c1;
$color-primary-dark: #1c2540;

$color-secondary-light: #eaa368;
$color-secondary-dark: #d08342;

$color-tertiary-light: #4fa1b7;
$color-tertiary-dark: #3477b4;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: rgb(0, 0, 0);


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;